
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Acessar Utilizando Usuario e Senha</p>

                    </div>


                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">E-mail</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Senha</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Lembrar Minha Senha
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Entrar
                        </button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                            Esqueci Minha Senha
                        </button>

                        <!-- Modal -->
                        <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
                            <div class="modal-dialog" style="width: 300px;">
                                <div class="modal-content text-center">
                                    <div class="modal-header h5 text-white bg-primary justify-content-center">
                                        Recuperar Senha
                                    </div>
                                    <div class="modal-body px-5">
                                        <p class="py-2">
                                            Informe seu e-mail e em seguida receberar as instruções para resetar sua senha.
                                        </p>
                                        <div class="form-outline">
                                            <input type="email" id="typeEmail" class="form-control my-3" />
                                            <label class="form-label" for="typeEmail">E-mail Cadastrado</label>
                                        </div>
                                        <a href="#" class="btn btn-primary w-100">Resetar Senha</a>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>




                </form>

            </div>
        </div>
    </div>

</section>
