@page
@model ManGed.Views.ResetPass.IndexModel
@{

    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Resetar Senha</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Digite seu e-mail cadastrado e em seguida receberá o passo a passo para resetar sua senha
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Digite seu E-mail</label>
            </div>
            <a href="#" class="btn btn-primary w-100">Resetar Senha</a>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="#">Login</a>
                <a class="" href="#">Cadastrar-se</a>
            </div>
        </div>
    </div>
    
}
